body {
    
    margin: 0;
    background: greenyellow;
    text-align: center;
}

div {
    margin: 0;
}

.burnitdown {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@media only screen 
    and (width: 414px) 
    and (height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 

        .body {
            visibility: visible;
        }

        .div {
            visibility: visible;
        }
    }


